# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de entorno
.env
.env.local
.env.development
.env.production
.env.test

# Caché y logs
logs/
*.log
logs/*.log
*.log.*
debug.log
*.out
*.pid
*.seed
*.cover
coverage/
.cache/
.nyc_output/
.DS_Store

# Construcciones y archivos temporales
dist/
build/
tmp/
out/
*.tsbuildinfo

# IDE y editores
.vscode/
.idea/
*.sublime-workspace

# Sistema operativo
Thumbs.db
.DS_Store
